
<%- include("partials/headerblog"); -%>

 <div class="blog-text">  <h1>Welcome to LifeInk</h1>
  <p> <%= startingContent %> </p><br></div>
  

  <%  posts.forEach(function(post){ %>
    <div class="blog-text">
    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>
  </div>


    <% }) %>



<%- include("partials/footerblog"); -%>
